{% load static %}
<footer class="bg-dark py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'assets/images/logo.png' %}" alt="logo" class="logo-dark" height="22" />
                <p class="text-light text-opacity-50 mt-4">Наша платформа помогает автоматизировать процесс продаж,
                    <br> упрощая управление бизнесом и увеличивая производительность.
                    <br> С легким доступом к товарам, продажам и аналитике.</p>

                <ul class="social-list list-inline mt-3">
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="bx bxl-facebook"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="bx bxl-google"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="bx bxl-twitter"></i></a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="bx bxl-github"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Решения</h5>
                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Автоматизация продаж</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Управление запасами</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Учет и аналитика</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Поддержка клиентов</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Продукты</h5>
                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Каталог товаров</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Платежные системы</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Управление заказами</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Обратная связь</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mt-3 mt-lg-0">
                <h5 class="text-light">Поддержка</h5>
                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Центр помощи</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Контактная поддержка</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-light text-opacity-50">Документация</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="text-light text-opacity-50 mt-4 text-center mb-0">© 2024 -
                        <script>document.write(new Date().getFullYear())</script> SalesAutomation. Ведущая система автоматизации продаж.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
